api.cotillonsanmartin.com.ar {
    reverse_proxy api:3000

    encode gzip

    @cors_preflight {
        method OPTIONS
    }

    header @cors_preflight {
        Access-Control-Allow-Origin "*"
        Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
        Access-Control-Allow-Headers "Content-Type, Authorization"
        Access-Control-Max-Age 86400
    }

    header {
        Access-Control-Allow-Origin "*"
    }
}
